<!DOCTYPE html>
<html>

<head>
  <title>Restablecer Contraseña</title>
  <!-- Agrega la referencia a SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Agrega la referencia a jQuery si aún no está incluido en tu página -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <h1>Restablecer Contraseña</h1>
  <form id="resetPasswordForm" action="/api/users/reset-password/{{token}}" method="post">
    <div class="mb-3">
      <input type="password" class="form-control" name="newPassword" placeholder="Nueva Contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
  </form>

  <!-- Agrega el script para enviar el formulario con AJAX y mostrar el SweetAlert -->
  <script>
    $(document).ready(function () {
      $('#resetPasswordForm').submit(function (event) {
        event.preventDefault(); // Evita que se envíe el formulario de forma predeterminada
        var formData = $(this).serialize(); // Obtiene los datos del formulario

        // Envía la solicitud AJAX para restablecer la contraseña
        $.ajax({
          type: 'POST',
          url: '/api/users/reset-password/{{token}}',
          data: formData,
          success: function (response) {
            // Si la contraseña se restablece con éxito, muestra un SweetAlert y redirige al usuario a la página de inicio de sesión
            Swal.fire({
              icon: 'success',
              title: 'Contraseña restablecida con éxito',
              text: 'Ir a iniciar sesión',
              showConfirmButton: true,
              confirmButtonText: 'Ir a login'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '/login';
              }
            });
          },
          error: function (xhr, status, error) {
            // Si el token ha expirado, muestra un SweetAlert y redirige al usuario a la página de restablecimiento de contraseña
            if (xhr.responseJSON && xhr.responseJSON.expiredToken) {
              Swal.fire({
                icon: 'warning',
                title: 'Token expirado',
                text: 'El token de restablecimiento de contraseña ha expirado. Por favor, solicite un nuevo correo electrónico de restablecimiento.',
                showConfirmButton: true,
                confirmButtonText: 'Ir a restablecer contraseña'
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/api/users/reset-password'; // Cambia '/reset-password' por la ruta de tu página de restablecimiento de contraseña
                }
              });
            } else {
              // Si ocurre otro tipo de error, muestra un SweetAlert de error
              console.error(xhr.responseText);
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Ocurrió un error al restablecer la contraseña',
                showConfirmButton: true
              });
            }
          }
        });
      });
    });

  </script>
</body>

</html>