<div>
  <h1>Restablecer Contraseña</h1>
  <form id="resetPasswordForm" action="/api/users/reset-password-email" method="post">
    <div class="mb-3">
      <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electronico" required>
    </div>
    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#resetPasswordForm').submit(function(event) {
    event.preventDefault(); // Evita que se envíe el formulario de forma predeterminada
    var formData = $(this).serialize(); // Obtiene los datos del formulario

    // Envía la solicitud AJAX para enviar el correo de restablecimiento de contraseña
    $.ajax({
      type: 'POST',
      url: '/api/users/reset-password-email',
      data: formData,
      success: function(response) {
        // Si el correo se envía con éxito, muestra un SweetAlert de éxito
        Swal.fire({
          icon: 'success',
          title: 'Correo enviado',
          text: 'El correo electrónico se ha enviado con éxito',
          showConfirmButton: false,
          timer: 2000 // Cierra automáticamente el SweetAlert después de 2 segundos
        });
      },
      error: function(xhr, status, error) {
        // Si el usuario no es encontrado, muestra un SweetAlert y proporciona un botón para ir a la página de registro
        if (xhr.responseJSON && xhr.responseJSON.userNotFound) {
          Swal.fire({
            icon: 'error',
            title: 'Usuario no encontrado',
            text: 'El usuario no ha sido encontrado. ¿Desea registrarse?',
            showConfirmButton: true,
            confirmButtonText: 'Ir a registrarse'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = '/register'; // Redirige al usuario a la página de registro
            }
          });
        } else {
          // Si ocurre otro tipo de error, muestra un SweetAlert de error
          console.error(xhr.responseText);
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Ocurrió un error al enviar el correo electrónico de restablecimiento de contraseña',
            showConfirmButton: true
          });
        }
      }
    });
  });
});

</script>